<div class="bg-surface-0 dark:bg-surface-950 px-6 py-20 md:px-12 lg:px-20">
    <div class="text-surface-700 dark:text-surface-100 text-center flex flex-col items-center gap-4">
        @if(!state){

            <a pButton class="mt-4" [routerLink]="['/login']">
                <span pButtonLabel>Se Connecter</span>
            </a>
        }
        @else{
            <a pButton class="mt-4" (click)="logout()">
                <span pButtonLabel>Se Déconnecter</span>
            </a>
        }
    </div>
</div>